[package]
name = "Graph"
version = "0.1.0"
edition = "2021"
build = "build.rs"

#[profile.release-with-debug]
#inherits = "release"
#debug = true

[profile.test]
inherits = "release"
debug = true

[dependencies]
firestorm = '0.5.1'
#firestorm = { version = "0.5.1", features=["enable_system_time"] }
